body{
  height:100%;
}
a {
  text-decoration: none;
  color: #2e2a65;
}
hr {
  border-top: solid 1px #2a6165;
}
.bsk-search-box__textox {
  border: soild 2px red;
}
.sk-layout__top-bar {
  background-color: #ffffff;
  height: 53px;
}
.sk-hits-grid-hit {
  margin: 0 0.5% 0.9% 0;
  max-width: 24%;
  flex: 25% 0 0 ;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sk-hits-grid-hit__title {
  min-height: 70px;
}
.price {
  color: red;
}

.sk-search-box input.sk-search-box__text {
  background: #fafafa;
  color: #0a0909;
}
.sk-search-box input.sk-search-box__text {
  background: transparent;
}
.toplevel {
  width: 40%;
  margin: 4.5% 0 0 35%;
}
.toplevel > img {
  width: 80%;
}
.search-contanier{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 50%;
margin: 0.2rem auto;

}
.sk-layout__body,
.sk-layout__top-bar {
  width: 50%;
  margin-left: 26%;
}
.sk-top-bar__content > div {
  width: 100%;
}
.slug {
  margin: 1% 25%;
}
.slug > img {
  width: 70%;
  margin-left: 15%;
}
.cat-data {
  list-style: none;
  display: inline-block;
}
.display-data {
  position: absolute;
  top: 55%;
  left: 15%;
  right: 10%;
}
.index-footer {
  border-top: solid 3px #2a6165;
  position: absolute;
  padding: 3px 20px;
  top:95%;
  width: 100%;
}
.info {
  display: inline-flex;
  width: 80%;
}
.about {
  margin-right: 35%;
}
.position a > img {
  width: 63%;
}
.searchresult {
  width: 50%;
  position: absolute;
  margin: 2.9% 0 0 20%;
}

.side {
  display: inline-Block;
}
.logo-holder {
  width: 20%;
  float: left;
  margin: 1% 5% 0 3%;
}
.logo-holder > img {
  width: 58%;
}
.result-header {
  min-height: 100px;
  width: 100%;
  box-shadow: 100px;
  border-bottom: 3px solid #fafafa;
  color: #000000;
}

.result-sta {
  position: absolute;
  margin-top: 2%;
  margin-left: 4%;
}
.result {
  margin-top: 5%;
  min-height: 100vh;
}
.text-edit {
  width: 90%;
  margin-bottom: 2%;
}
.text-edit > p {
  line-height: 3em;
}
.terms-footer {
  border-top: solid 3px #2a6165;
  position: absolute;
  padding: 3px 20px;
  width: 100%;
}

.pagination{
  margin: 3% 0 4% 0;
}

#image-view{
  width:100%
}
